name: Repo Policy

on:
  create:
  delete:
  pull_request:
    branches:
      - main

jobs:
  org-policy:
    name: Organization Policy
    uses: RedEyeMods/.github/.github/workflows/policy.yml@feature/reusable-workflows